/* Règles générales. */

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;700&display=swap');

body {
    font-family: 'Inknut Antiqua', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    color: white;
}

/* Menu. */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    margin-bottom: 30px;
}

.logo {
    width: 150px;
}

.burger {
    width: 100px;
}

nav {
    display: none;
}

/* Main. */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

h1 {
    font-size: 48px;
    text-align: center;
}

.timetableMobile {
    margin: 20px;
}

.happyHoursMobile {
    background: center / contain no-repeat url('./src/Left-section.svg');
    display: flex;
    font-size: 24px;
    font-weight: 300;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
}

.card {
    border-radius: 50px;
    background: #393939;
    padding: 30px;
    margin: 20px;
}

.cocktails, 
.golem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cocktails p, 
.golem p {
    font-style: 14px;
    font-weight: 300;
}

h3 {
    font-weight: 700;
    margin-bottom: 20px;
}

.cup {
    align-self: end;
}

.cup img {
    width: 60px;
}

.more {
    display: none;
}

.happyHoursDesktop {
    display: none;
}

@media (min-width: 650px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Footer. */

.timetableDesktop {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 300px;
    margin-top: 50px;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Desktop */

@media (min-width: 850px) {

    .hero {
        background: right 10% bottom 50% url('./src/hero.jpeg') no-repeat;
        
    }

    .logo {
        width: 200px;
    }

    .burger {
        display: none;
    }

    nav {
        display: block;
    }

    .flexNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
    }

    ul li a {
        text-decoration: none;
        padding: 5px;
        color: white;
        cursor: pointer;
    }

    main {
        justify-content: end;
        align-items: end;
    }

    h1 {
        text-align: right;
    }

    .cup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .more {
        display: block;
        font-size: 12px;
    }

    .cards {
        width: 55vw;
        display: flex;
        margin-bottom: 20px;
    }

    .happyHoursMobile {
        display: none;
    }

    .happyHoursDesktop {
        display: block;
        align-self: start;
        background: no-repeat url('./src/Left-section.png');
        position: absolute;
        display: flex;
        font-size: 40px;
        font-weight: 300;
        justify-content: center;
        align-items: center;
        margin: 0 -50px;
        width: 600px;
    }

    .happyHoursDesktop div {
        padding-top: 100px;
        text-align: center;
    }

    .timetableMobile {
        display: none;
    }

    .timetableDesktop {
        display: block;
    }

    footer {
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        padding: 5px;
    }
}