@import 'reset';
@import 'variables';

/* Règles générales. */

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;700&display=swap');

body {
    font-family: 'Inknut Antiqua', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $primaryBackground;
    color: $primaryColor;
}

a {
    text-decoration: none;
    color: $primaryColor;
}

/* Menu. */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    margin-bottom: 30px;
}

.hero {
    &__logo {
        width: 150px;
    }

    &__burger {
        width: 100px;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
    }
}

.main {
    &__timetableMobile {
        margin: 20px;
    }

    &__happyHoursMobile {
        background: center / contain no-repeat url('../src/Left-section.svg');
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 300;
        align-items: center;
        height: 40vh;
    }

    &__happyHoursDesktop {
        display: none;
    }
}

nav {
    display: none;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-weight: 400;
}

h1 span {
    font-weight: 700;
}

.cards {
    &__cocktails, 
    &__golem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background: $primaryCardBackground;
        padding: 30px;
        margin: 20px;
    }

    &__cup {
        align-self: end;

        img {
            width: 60px;
        }
    
        &__more {
            display: none;
        }
    }
}

.cards__cocktails p, 
.cards__golem p {
    font-size: 14px;
    font-weight: 300;
}

h3 {
    font-weight: 700;
    margin-bottom: 20px;
}

@media (min-width: 650px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Footer. */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 300px;
    margin-top: 50px;

    &__timetableDesktop {
        display: none;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* Desktop */

@media (min-width: 900px) {

    .hero {
        background: center / cover url('../src/hero.webp') no-repeat;
        filter: sepia(0.6);
        height: 100vh;

        &__logo {
            width: 200px;
        }

        &__burger {
            display: none;
        }

        &__main {
            justify-content: end;
            align-items: end;
        }
    }

    .main {
        &__timetableMobile {
            display: none;
        }

        &__happyHoursMobile {
            display: none;
        }

        &__cards {
            width: 65vw;
            display: flex;
            margin-bottom: 20px;
        }

        &__happyHoursDesktop {
            position: absolute;
            display: block;
            align-self: start;
            background: center / contain no-repeat url('../src/left-section.webp');
            display: flex;
            font-size: 36px;
            font-weight: 300;
            justify-content: center;
            align-items: center;
            bottom: -10px;
            left: -40px;
            padding: 30px;
            text-align: center;
    
            div {
                padding-top: 100px;
                text-align: center;
            }
        }
    }

    nav {
        display: block;
    }

    .flexNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;

        &__li {
            text-decoration: none;
            padding: 10px;
            color: $primaryColor;
            cursor: pointer;

            &--active {
                border: 3px solid $primaryColor;
            }
        }
    }

    h1 {
        text-align: right;
    }

    .cards {
        &__cup {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            img {
                width: 40px;
            }
    
            &__more {
                display: block;
                font-size: 12px;
            }
        }
    }

    footer {
        height: 100px;
        margin: 0 40px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        padding: 5px;

        &__timetableDesktop {
            display: block;
        }
    }
}

/* PLUS GRAND. */

@media (max-width: 851px) {
    .cards {
        width: 80vw;
    }
}